.about {
  margin: $margin;
  padding-top: 10rem;
  height: 100vh;
  &__cont {
    width: 100%;
    color: $primary-color;
  }
  h1 {
    color: $secondary-color;
    font-size: 3.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1.6rem;
  }
  @media (max-width: 1280px) {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
  @media (max-width: 970px) {
    margin: $margin-mobile;
  }
}
