body {
  position: relative;
  font-family: $font;
  font-weight: $weight;
}
.backgroundImg {
  background-image: url("../../background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
