body {
  position: relative;
  font-family: $font;
  font-weight: $weight;
}
.backgroundImg {
  background-image: url("../../background.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
