.contactform {
  margin: $margin;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__cont {
    width: 100%;
  }
  h3 {
    color: $secondary-color;
    font-size: 40px;
    margin-bottom: 2rem;
  }
  .form__details {
    display: flex;
    justify-content: space-between;
  }
  .form__details--group {
    width: 45%;
  }
  label {
    color: $primary-color;
  }
  input {
    border: solid 2px $primary-color;
    background-color: $primary-color;
    opacity: 0.4;
  }
  textarea {
    @extend input;
  }
  .form__btn {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: $secondary-color;
      opacity: 0.4;
      border: solid 2px $secondary-color;
      width: 300px;
    }
    button:hover {
      opacity: 1;
    }
  }
}
