.contactform {
  margin: $margin;
  margin-top: 6rem;
  h3 {
    color: $secondary-color;
    font-size: 30px;
  }
  .form__details {
    display: flex;
    justify-content: space-between;
  }
  .form__details--group {
    width: 45%;
  }
}
