.introduction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    h1 {
      color: $secondary-color;
      font-size: 50px;
    }
    h2 {
      color: $primary-color;
      font-size: 40px;
    }
  }
  &__img {
    img {
      width: 250px;
      border-radius: 5px;
    }
  }
}

.lp__content {
  margin: $margin;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
