.footer {
  background-color: black;
  margin-top: auto;
  height: 50px;
  padding-left: 20px;
  font-size: 12px;
  a {
    color: $primary-color !important;
  }
}

.content {
  min-height: calc(100vh - 146px);
}
