.projects {
  margin: $margin;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    width: 100%;
  }
  h1 {
    color: $secondary-color;
  }
  &__cont {
    width: 100%;
  }
  &__cont--item {
    border-radius: 5px;
    height: 200px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .projects-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
  }

  .projects-content .projects-content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .projects-content:hover .projects-content-overlay {
    opacity: 1;
  }

  .projects-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .projects-content:hover .projects-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .projects-details h3 {
    color: $primary-color;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 20px;
  }

  .projects-details p {
    color: $primary-color;
    font-size: 0.8em;
  }

  .fadeIn-bottom {
    top: 80%;
  }
  @media (max-width: 970px) {
    margin: $margin-mobile;
    height: auto;
    margin-bottom: 20px;
    .projects-details {
      opacity: 1;
    }
    .projects-content .projects-content-overlay {
      opacity: 1;
    }
    .fadeIn-bottom {
      top: 50%;
    }
  }
}
