@import url("https://use.typekit.net/npy7xqs.css");

$primary-color: white;
$secondary-color: #f63e3e;
$font: "roboto", sans-serif;
$weight: 700;
$margin: 0 200px 0 200px;
$margin-mobile: 0 10px 0 10px;
